nav {
    padding: 1rem;
    border-right: 1px solid #ccc;
}

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav li {
        margin-bottom: 0.5rem;
    }

    nav a {
        text-decoration: none;
    }
