<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <div class="nav-item px-3">
    <NavLink class="nav-link" href="journal">
        Journal
    </NavLink>
</div>
        <div class="nav-item px-3">
    <NavLink class="nav-link" href="moods">
        Moods
    </NavLink>
</div>
    </ul>
</nav>
